{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-unused-vars": "error",
        "no-extra-semi": "error",
        "no-console": "warn",
        "no-empty-interface": "off"
    }
}
